/* CSS Variables */

:root {
  --primary: #ebddcb;
  --light: #fff;
  --dark: #333;
  --bgblue: #67a0b6;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.2);
}

/* Import the Lato font from Google Fonts */

html {
  box-sizing: border-box;
  /*font-family: arial, Helvetica, sans-serif;*/
  /* Set the font family to Lato */
  font-family: "Lato", sans-serif;
  color: var(--dark);
}

body {
  background: #67a0b6;
  margin: 30px 50px;
  list-style: 1.4;
}

.btn {
  background-color: var(--bgblue);
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
}

img {
  max-width: 100%;
}

.wrapper {
  display: grid;
  grid-row: 20px;
}

/* Navigation */

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

.main-nav ul {
  margin-top: 0;
  display: grid;
  grid-row: 20px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(8, 1fr);
}

.main-nav a {
  background: var(--bgblue);
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: var(--light);
  text-transform: uppercase;
  font-size: 1.1rem;
  box-shadow: var(--shadow);
  letter-spacing: 2px;
}

.main-nav a:hover {
  background: #3f89a7;
  color: var(--light);
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: var(--light);
  margin: 5px;
}

/* Top Container */
.top-container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "showcase showcase top-box-a"
    "showcase showcase top-box-b";
}

/* Showcase */

.showcase {
  grid-area: showcase;
  min-height: 400px;
  background: url(pictures/showcase4.jpg);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-shadow: var(--shadow);
}

.showcase h1 {
  font-size: 4rem;
  margin-bottom: 0;
  color: var(--light);
}

.showcase p {
  font-size: 1.3rem;
  margin-top: 0;
  color: var(--light);
}

/* Top Box */
.top-box {
  background: var(--primary);
  display: grid;
  align-items: center;
  justify-items: center;
  box-shadow: var(--shadow);
  padding: 1.5rem;
}

.top-box .price {
  font-size: 2.5rem;
}

.top-box-a {
  grid-area: top-box-a;
}

.top-box-b {
  grid-area: top-box-b;
}

/* Boxes */

.boxes {
  margin: 20px 0;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box {
  background: var(--primary);
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
}

.box li {
  list-style: none;
}

/* info */

.info {
  background: var(--primary);
  box-shadow: var(--shadow);
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem;
}

/* portfolio */

.portfolio {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.portfolio img {
  width: 100%;
  box-shadow: var(--shadow);
}

/* footer */

footer {
  /*position: fixed;*/
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--bgblue);
  color: var(--light);
  text-align: center;
  /*padding: 1rem;*/
  /*visibility: hidden;*/
  /*transition: all 0.3s ease-in-out;*/
}

footer .box {
  background: var(--bgblue);
  box-shadow: none;
}

/* Media Queries*/

@media screen and (max-width: 768px) {
  .showcase h1 {
    font-size: 2.5rem;
  }

  .main-nav ul {
    display: none;
    /*grid-template-columns: 1fr;*/
  }
  .top-container{
    display: grid;
    grid-template-columns: 1fr;
  }
  .boxes {
    grid-template-columns: 1fr;
  }
  .info {
    grid-template-columns: 1fr;
  }

  .info .btn {
    display: block;
    text-align: center;
    margin: auto;
  }

  .bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 1200px; /* set the maximum width for the navbar */
    margin: 0 auto; /* center the navbar horizontally */
    background-color: var(--bgblue);
    z-index: 999;
  }

  .bottom-nav ul {
    display: grid;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    grid-template-columns: repeat(5, 1fr);
  }

  .bottom-nav li {
    padding: 10px;
  }

  .bottom-nav a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: var(--light);
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 768px) {
  .bottom-nav {
    display: none;
  }
}
@media (max-width: 500px;) {
  .top-container {
    grid-template-areas:
      'showcase'
      'top-box-a'
      'top-box-b';
    grid-template-columns: 1fr;
  }
}
